.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .spinner {
    width: 48px;
    height: 48px;
    border: 4px solid rgba(74, 144, 226, 0.2);
    border-radius: 50%;
    border-top-color: var(--primary-color);
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
